<form action='index.php' method='get'>
	%%%HIDDEN%%%

	<table class='preview'>
		<tr>
			<td>Image %%%ID%%%</td>
			<td colspan='2' align='right'>Dimensions: %%%WIDTH%%%x%%%HEIGHT%%%</td>
		</tr>
		<tr>
			<td width='210' valign='top'>%%%IMAGE%%%</td>
			<td colspan='2'>
	
				Album: <strong>%%%ALBUM%%%</strong><br>
				Title: %%%TITLE%%%<br>
				Caption:<br>
				 %%%CAPTION%%%<br>
				%%%CONFIRMED%%% Confirmed (if disabled, picture will go back to pending)<br>
			</td>
		</tr>
		<tr>
			<td colspan='2' align='right'>
				%%%SUBMIT%%%
			</td>
		</tr>
	</table>
</form>

<br><br>
