<form action='index.php' method='get'>
%%%HIDDEN%%%

<table>
	<tr><td width='200'>Username</td><td><strong>%%%USERNAME%%%</strong></td></tr>
	<tr><td>Password <span class='smalltext'>%%%BLANK%%%</span></td><td>%%%PASSWORD1%%%</td></tr>
	<tr><td>Password again</td><td>%%%PASSWORD2%%%</td></tr>
	<tr><td>Email</td><td>%%%EMAIL%%%</td></tr>
	<tr><td>Show advanced options</td><td>%%%ADVANCED%%%</td></tr>
	<tr><td>Show empty groups</td><td>%%%SHOWEMPTY%%%</td></tr>
	<tr><td>Remember filters</td><td>%%%REMEMBERFILTER%%%</td></tr>

	<tr><td>&nbsp;</td></tr>

	<tr><td>Real name</td><td>%%%REALNAME%%%</td></tr>
	<tr><td>Location</td><td>%%%LOCATION%%%</td></tr>

	<tr><td colspan='2' align='right'>%%%SAVE%%%</td></tr>
</table>
