<form action='index.php' method='get'>
%%%HIDDEN%%%
<table>
	<tr>
		<td width='200'>Name</td>
		<td>%%%NAME%%%</td>
	</tr>

	<tr>
		<td>Private?</td>
		<td>%%%ISPRIVATE%%%</td>
	</tr>

	<tr>
		<td colspan='2' class='descriptioncell'>If this is set, users require approval from a group member for joining.</td>
	<tr>

	<tr>
		<td>Hidden?</td>
		<td>%%%ISHIDDEN%%%</td>
	</tr>

	<tr>
		<td colspan='2' class='descriptioncell'>If this is set, the group is invisible to all but members. Users can only join if they're invited.</td>
	</tr>

	<tr>
		<td>&nbsp;</td>
	</tr>

	<tr><td colspan='2' align='right'>%%%SAVE%%%</td></tr>
</table>
