<table width='640' class='picturetable'>
	<tr>
		<td width='70'  class='picturenav' align='center' rowspan='2' valign='top'>%%%PREV%%%</td>
		<td width='500' class='picturetitle' align='center'>%%%TITLE%%% (%%%USERNAME%%%)</td>
		<td width='70'  class='picturenav' align='center' rowspan='2' valign='top'>%%%NEXT%%%</td>
	</tr>
	<tr>
		<td class='picturecaption' align='left'>%%%CAPTION%%%</td>
	</tr>
	<tr>
		<td colspan='3'>&nbsp;</td>
	</tr>
	<tr>
		<td class='picturerow' align='center' colspan='3'>%%%PICTURE%%%</td>
	</tr>
	<tr>
		<td class='picturenav2' valign='top'>%%%PREV%%%</td>
		<td class='picturecommentcell' align='center'>
			<table width='100%'>
				<tr>
					<td width='100%' align='right'>%%%POSTCOMMENT1%%%
				</tr>
				<tr>
					<td align='center'>
						%%%RATING%%%<p>
						%%%COMMENTS%%%
					</td>

				</tr>
				<tr>
					<td width='100%' align='right'>%%%POSTCOMMENT2%%%
				</tr>
			</table>
		</td>
		<td class='picturenav2' valign='top'>%%%NEXT%%%</td>
	</tr>
</table>
