<form action='index.php' method='get'>
%%%HIDDEN%%%

<table class='topborder' width='100%'>
	<tr><td colspan='2'><strong>Profile</strong></td></tr>

	<tr><td width='200'>Name</td><td><strong>%%%NAME%%%</strong></td></tr>
	<tr><td>Founder</td>         <td><strong>%%%FOUNDER%%%</strong></td></tr>
	<tr><td>Private?</td>        <td><strong>%%%ISPRIVATE%%%</strong></td></tr>
	<tr><td>Hidden?</td>         <td><strong>%%%ISHIDDEN%%%</strong></td></tr>
</table>

<table class='topborder' width='100%'>
	<tr><td><strong>Group Members</strong></td></tr>
	%%%MEMBERS%%%
</table>

<table class='topborder' width='100%'>
	<tr><td><strong>Pending Members</strong></td></tr>
	%%%PENDING%%%
</table>

